@import './css/reset.css';
@import './css/vars.css';
@import './css/index_new.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
}
